<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Country>
            <version>0.1.0</version>
        </Apptha_Country>
    </modules>
    <frontend>
        <routers>
            <country>
                <use>standard</use>
                <args>
                    <module>Apptha_Country</module>
                    <frontName>country</frontName>
                </args>
            </country>
        </routers>
        <layout>
            <updates>
                <country>
                    <file>country.xml</file>
                </country>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <country>
                <class>Apptha_Country_Model</class>
                <resourceModel>country_mysql4</resourceModel>
            </country>
            <country_mysql4>
                <class>Apptha_Country_Model_Mysql4</class>
                <entities>
                    <country>
                        <table>directory_country_shipping</table>
                    </country>
                </entities>
            </country_mysql4>
        </models>
        <resources>
            <country_setup>
                <setup>
                    <module>Apptha_Country</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </country_setup>
            <country_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </country_write>
            <country_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </country_read>
        </resources>
        <blocks>
            <country>
                <class>Apptha_Country_Block</class>
            </country>
        </blocks>
    </global>
</config>